p, th, td {
  color: black;
  font-family: "Arial", serif;
  font-size: 14pt;
  font-weight: 400;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  color: black;
  font-family: "Georgia", serif;
  font-size: 24pt;
  text-align: left;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 16pt;
  text-align: left;
  font-weight: 700;
  margin-left: 10%;
  margin-right: 10%;
}

h3 {
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 14pt;
  text-align: left;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
}

h4 {
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 12pt;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 400;
}



p2 {
  color: black;
  font-family: "Lora", serif;
  font-size: 14pt;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

li {
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 14pt;
  font-weight: 400;
  text-align: left;
}

ul, ol {
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 12pt;
  font-weight: 200;
  text-align: left;
  margin-left: 10%;
}

snavbold {
  font-size: 24px;
  font-weight: 700;
}

/* Divs */

.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  width: 80%;
  height: 100%;
  object-fit: fill;
  text-align: center;
}

/* Sidebar */
.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
}

.navbar a {
  float: left;
  color: black;
  font-family: "Arial";
  text-decoration: none;
  font-size: 12px;
  width: 10%; /* Four links of equal widths */
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a:hover {
  background-color: #adadad;
}

/* Element ordering */
.sbs{
    display: flex;
}
.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tg, th, td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: left;

}

table{
  border-collapse: collapse;
  margin-left: 10%;
  margin-right: auto;
  vertical-align: left;
}

.graybg {
  background-color: #bababa;
}

.fourcol {
  column-count: 4;
  margin-left: 10%;
}